/* FONTS */

/* ==> ASUL */
@font-face {
    font-family: 'Asul';
    src: url('../fonts/Asul-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asul';
    src: url('../fonts/Asul-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* ==> Noto Sans CJK JP */
@font-face {
    font-family: 'Noto Sans CJK JP Black';
    src: url('../fonts/NotoSansCJKjp-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP Bold';
    src: url('../fonts/NotoSansCJKjp-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP Medium';
    src: url('../fonts/NotoSansCJKjp-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP Regular';
    src: url('../fonts/NotoSansCJKjp-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP DemiLight';
    src: url('../fonts/NotoSansCJKjp-DemiLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP Light';
    src: url('../fonts/NotoSansCJKjp-Light.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Noto Sans CJK JP Thin';
    src: url('../fonts/NotoSansCJKjp-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
