.estimation_result_sec {
    background-color: #f0f5fa;
    padding: 50px 15px 0;
}
.estimation_result_sec h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.estimation_result_sec h2 span {
    border-bottom: solid 8px #62bfeb;
}
.estimation_result_sec h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.estimation_result_box {
    max-width: 600px;
    margin: auto;
}
.estimation_result_box p {
    font-size: 18px;
    line-height: 2;
}
.footer_gotop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.footer_gotop a {
    color: #4776e1;
    border-radius: 35px;
    min-width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: solid 2px #4776e1;
    background-color: #fff;
}
.all_forms_tab_content_sec.confirm_form_sec .all_form_input label {
    color: #8c96aa !important;   
}
.confirm_value {
    font-size: 22px;
    color: #000;
    border-bottom: solid 1px #8c96aa;
    margin-top: 20px;
    padding-bottom: 8px;
}
@media(max-width: 675px) {
    .estimation_result_sec h2 {
        font-size: 24px;
    }
    .estimation_result_sec h2 span {
        border-bottom: solid 4px #62bfeb;
    }
    .estimation_result_sec h3 {
        font-size: 18px;
    }
    .estimation_result_box p {
        font-size: 16px;
    }
    .footer_gotop a {
        font-size: 18px;
        height: 50px;
        border-radius: 25px;
        min-width: 70%;
    }
}