/*fonts css start*/
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*fonts css end*/



/*reponsive css start*/

@media (max-width: 1024px) {
    
}
@media (max-width: 900px) {
    
}
@media (max-width: 675px) {
    
}
/*reponsive css end*/