<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="robots" content="noindex, nofollow, noarchive" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>エラー</title>
<link href="/client_info/MISUZU/view/userweb/css/style.css?timestamp=1612908428000" rel="stylesheet" type="text/css" />
<link href="/client_info/MISUZU/view/userweb/css/hww_style.css?timestamp=1614943293000" rel="stylesheet" type="text/css" />
<link href="/client_info/MISUZU/view/userweb/favicon.ico?timestamp=1546841134000" rel="shortcut icon" />
<script src="/client_info/MISUZU/view/userweb/js/ebisu_lib.js?timestamp=1546841133000" type="text/javascript" charset="utf-8"></script>
<script src="/client_info/MISUZU/view/userweb/js/ebisu.js?timestamp=1546841134000" type="text/javascript" charset="utf-8"></script>
<meta name="keywords" content="腕時計,時計,国産時計,宝飾,輸入時計,ブランド,ハンダウォッチワールド,HANDA Watch World" /><meta name="description" content="HANDA Watch World（ハンダウォッチワールド）オンラインブティックは、（株）ミスズが総輸入元を務めるブランドをお得に買い物できます。" /><meta property="og:description" content="HANDA Watch World（ハンダウォッチワールド）オンラインブティックは、（株）ミスズが総輸入元を務めるブランドをお得に買い物できます。" /><meta property="og:title" content="HANDA Watch World(ハンダウォッチワールド) オンラインブティック" /><meta property="og:type" content="article" /><meta property="og:url" content="https://www.watch-world.jp/common_error.html?__pc_site_mode=smartphone&amp;timestamp=6313beb4a129c9285b105ba30f6db7ec" /><meta property="og:site_name" content="HANDA Watch World(ハンダウォッチワールド) オンラインブティック" /><link rel="canonical" href="https://www.watch-world.jp/common_error.html?__pc_site_mode=smartphone&amp;timestamp=6313beb4a129c9285b105ba30f6db7ec" /></head>
<body>
	<script type="text/javascript">
	if (typeof Ebisu != "undefined") {
		Ebisu.isLocal = false;
		Ebisu.rootPath = 'https://www.watch-world.jp/';
	}
	</script>
	<script type="text/javascript">
<!--
// 
function nextItemListSelectCategory(selectInput) {
	document.location.href = selectInput.options[selectInput.selectedIndex].value;
}
//  
var beatedFlag = false;
function isUnbeaten() {
	if (beatedFlag) {
		return false;
	}
	beatedFlag = true;
	return true;
}
// 
function isUnbeatenSub() {
	if (beatedFlag) {
		return false;
	}
	return true;
}
// 
function isConfirmed() {
	return confirm('実行します。\nよろしいですか？');
}
// 
function next(request) {
	nextForm(null, null, null, request, null);
}
function nextKey(request, key) {
	nextForm(null, null, null, request, key);
}
function nextFormKey(form, request, key) {
	nextForm(form, null, null, request, key);
}
function nextAction(action, request) {
	nextForm(null, null, action, request, null);
}
function nextForm(form, target, action, request, key) {
	pos = -1;
	if (request != null) {
		pos = request.indexOf("download");
	}
	if (pos == -1 && action != null) {
		pos = action.indexOf("Menu001Logout");
	}
	if (pos == -1) {
		if (!isUnbeaten()) {
			alert('前のリクエストを処理中です。しばらくお待ちください。');
			return;
		}
	}
	if (form == null) {
		form = document.forms[0];
	}
	var oldTarget = form.target;
	if (target) {
		alert(target);
		form.target = target;
	}
	var oldAction = form.action;
	if (action != null) {
		form.action = action;
	}
	if (request == null) {
		request = '';
	}
	if (key != null) {
		form.key.value = key;
	}
	if (form.request != null) {
		form.request.value = request;
	}

	beforeExecuteSubmitForm();
	
	form.submit();

	form.target = oldTarget;
	form.action = oldAction;
}

(function() {
	func = function() {beatedFlag = false;};
	//
	if(typeof window.addEventListener == 'function'){ 
		window.addEventListener('unload', func, false);
		window.addEventListener('pageshow', func, false);
		return true;
	}
})();

var beforeExecuteSubmitForm = function() {
	// formをsubmitする前に処理をカスタマイズするカットポイント
};

//-->
</script>
	<script type="text/javascript">
<!--
function ebisu_dateFormat(controller) {
  var reg = /^(\d{4})\/?(\d{1,2})\/?(\d{1,2})?$/;
  var str = ebisu_trim(controller.value);
  if (reg.test(str)) {
    var a = reg.exec(str);
    controller.value = a[1] + ebisu_conv(a[2]) + ebisu_conv(a[3]);
  }
}
function ebisu_conv(s) {
  var ret = "";
  if (s == null) {
  } else if (s.length == 1) {
    ret = "/0" + s;
  } else if (s.length == 2) {
    ret = "/" + s;
  }
  return ret;
}
function ebisu_revert(controller) {
  var reg = /^\d{4}\/\d{2}(\/\d{2})?$/;
  if (reg.test(controller.value)) {
    controller.value = controller.value.replace(/\/+/g, "");
  }
}
function ebisu_trim(s) {
  return s.replace(/^\s*/, "").replace(/\s*$/, "");
}
function ebisu_cc(){
  var e = event.srcElement;
  var r = e.createTextRange();
  r.moveStart("character", e.value.length);
  r.collapse(true);
  r.select();
}
//-->
</script>
	
	<script type="text/javascript">
<!--
//
function showSubWindowActionRequest(action, request, width, height) {
	return showSubWindowActionRequestKey(action, request, null, width, height);
}
//
function showSubWindowActionRequestKey(action, request, key, width, height) {
	var pos = action.indexOf("?");
	var requestString = "";
	if (pos == -1) {
		requestString = "?request=";
	} else {
		requestString = "&request=";
	}
	requestString += request;
	if (key != null) {
		requestString += "&key=" + key;
	}
	return showSubWindow(action + requestString, width, height);
}
//
var ebisuSubWindow;
function showSubWindow(url, width, height) {
	if (ebisuSubWindow != null) {
		ebisuSubWindow.close();
	}
	ebisuSubWindow = showSubWindowPrivate(url, width, height, "ebisuSubWindow");
	if (ebisuSubWindow == null) {
		alert('ウィンドウのポップアップがブラウザによってブロックされました。誠に恐れ入りますが、直接ボタンをクリックするか、ブラウザのポップアップブロックの設定を調整してください。');
		return false;
	}
	ebisuSubWindow.focus();
	return ebisuSubWindow;
}
//
function showSubWindowPrivate(url, width, height, windowName) {
	//
	if (width == null) {
		width = 750;
	}
	if (height == null) {
		height = 650;
	}
	if (url.indexOf("http") != 0) {
		url = "http://www.watch-world.jp/" + url;
	}
	if (!isUnbeatenSub()) {
		alert("前のリクエストを処理中です。しばらくお待ちください。");
	} else {
		return window.open(url, windowName, "width="+width+", height="+height+", toolbar=0, menubar=0, location=0, status=yes, scrollbars=yes");
	}
}

//
function closeAllSubwindow() {
	if (ebisuSubWindow != null && !ebisuSubWindow.closed ) {
		ebisuSubWindow.close();
	}
}
-->
</script>
	<script type="text/javascript">
<!--
function joinDate(idName, yearName, monthName, dayName) {
	if(yearName != null &&monthName != null && dayName != null){
		document.getElementById(idName).value = document.getElementById(yearName).value + '/' + document.getElementById(monthName).value + '/' +document.getElementById(dayName).value
	}
}
function yearFormat(yearName){
	var value = document.getElementById(yearName).value;
	if (!isNaN(value) && value.length == 1) value = '200' + value; if (!isNaN(value) && value.length == 2) value = '20' + value; if (!isNaN(value) && value.length == 3) value = '2' + value;
	document.getElementById(yearName).value = value;
}
//-->
</script>
	
	
	
	
	
	
	
	
	


<!-- このテンプレートのURLは右記になります。 ドメイン/存在しないテンプレート名.html -->






<header class="l-header">
	<div class="globalHeader">
		<h1 class="globalHeader-logo"><a href="https://www.watch-world.jp/"><a href="https://www.watch-world.jp/"><img src="/client_info/MISUZU/view/userweb/images/common/logo.png?timestamp=1612687950000" alt="HANDA Watch World" /></a></a></h1>
	  <button class="globalHeader-mobileNavTrigger" id="js-mobileNav-open"><span></span><span></span><span></span></button>
		<nav class="globalHeader-nav">
			
			<p class="globalHeader-nav-welcome">
				こんにちはゲストさん
			</p>
			<ul class="globalHeader-nav-userMenu">
				
				<li>
					<a href="https://www.watch-world.jp/member_regist_new.html">
						<img src="/client_info/MISUZU/view/userweb/images/common/icon_register.png?timestamp=1546841133000" alt="" />
						<span class="globalHeader-nav-userMenu-label">会員登録</span>
					</a>
				</li>
				<li>
					<a href="https://www.watch-world.jp/wishlist.html">
						<img src="/client_info/MISUZU/view/userweb/images/common/icon_fav.png?timestamp=1546841134000" alt="" />
						<span class="globalHeader-nav-userMenu-label">お気に入り</span>
					</a>
				</li>
				<li>
					<a href="https://www.watch-world.jp/login.html">
						<img src="/client_info/MISUZU/view/userweb/images/common/icon_login.png?timestamp=1546841134000" alt="" />
						<span class="globalHeader-nav-userMenu-label">ログイン</span>
					</a>
				</li>
				
				<li>
					<a href="https://www.watch-world.jp/cart_index.html">
						<img src="/client_info/MISUZU/view/userweb/images/common/icon_cart.png?timestamp=1546841134000" alt="" />
						<span class="globalHeader-nav-userMenu-count">0</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="globalHeader-mobileSearch">
			<form action="https://www.watch-world.jp/item_list.html" method="get" name="keyword_search_form" class="globalNav-search c-search"><input name="siborikomi_clear" value="1" type="hidden" />
				<input name="keyword" id="form" value="" type="text" placeholder="キーワードを入力" class="c-search-field" />
				<button type="submit" class="c-search-submit"></button>
			</form>
		</div>
	</div>
	<nav class="globalNav">
		<div class="globalNav-inner">
			<ul class="globalNav-list">
				<li class="globalNav-item"><a href="https://www.watch-world.jp/">ホーム</a></li>
				<li class="globalNav-item"><a href="https://www.watch-world.jp/category/BRAND/">商品一覧</a></li>
				<!--<li class="globalNav-item"><a href="ext/support.html">修理・サポート</a></li> -->
				<li class="globalNav-item"><a href="https://www.watch-world.jp/ext/store.html">店舗情報</a></li>
				<li class="globalNav-item" apply_no="APPLY1"><a href="https://www.watch-world.jp/apply.html?id=APPLY1">お問い合わせ</a></li>
				<li class="globalNav-item"><a href="https://hww.misuzu.com/">公式サイト</a></li>

	</ul>
			<form action="https://www.watch-world.jp/item_list.html" method="get" name="keyword_search_form" class="globalNav-laptopSearch c-search"><input name="siborikomi_clear" value="1" type="hidden" />
				<input name="keyword" id="form" value="" type="text" placeholder="キーワードを入力" class="c-search-field" />
				<button type="submit" class="c-search-submit"></button>
			</form>
		</div>
	</nav>
</header>

<nav class="mobileNav">
	<button class="mobileNav-closeTrigger" id="js-mobileNav-close"><span></span><span></span></button>
	<div class="mobileNav-userMenu">
		<ul class="mobileNav-userMenu-list">
			
			<li class="mobileNav-userMenu-item">
				<a href="https://www.watch-world.jp/member_regist_new.html">
					<span><img src="/client_info/MISUZU/view/userweb/images/common/icon_register.png?timestamp=1546841133000" alt="" /></span>
					<span>会員登録</span>
				</a>
			</li>
			<li class="mobileNav-userMenu-item">
				<a href="https://www.watch-world.jp/login.html">
					<span><img src="/client_info/MISUZU/view/userweb/images/common/icon_login.png?timestamp=1546841134000" alt="" /></span>
					<span>ログイン</span>
				</a>
			</li>
			
			<li class="mobileNav-userMenu-item">
				<a href="https://www.watch-world.jp/wishlist.html">
					<span><img src="/client_info/MISUZU/view/userweb/images/common/icon_fav.png?timestamp=1546841134000" alt="" /></span>
					<span>お気に入り</span>
				</a>
			</li>
			<li class="mobileNav-userMenu-item">
				<a href="https://www.watch-world.jp/cart_index.html">
					<span>
						<img src="/client_info/MISUZU/view/userweb/images/common/icon_cart.png?timestamp=1546841134000" alt="" />
						<span>0</span>
					</span>
					<span>カート</span>
				</a>
			</li>
		</ul>
	</div>
	<form action="https://www.watch-world.jp/item_list.html" method="get" name="keyword_search_form" class="mobileNav-search c-search"><input name="siborikomi_clear" value="1" type="hidden" />
		<input name="keyword" id="form" value="" type="text" placeholder="キーワードを入力" class="c-search-field" />
		<button type="submit" class="c-search-submit"></button>
	</form>
	<div class="mobileNav-mainMenu">
		<ul class="mobileNav-mainMenu-list">
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/">ホーム</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/topics_list.html?info_category=1">ニュース</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/category/BRAND/">商品一覧</a></li>
			<!--<li class="mobileNav-mainMenu-item"><a href="ext/support.html">修理・サポート</a></li> -->
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/ext/store.html">店舗情報</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://hww.misuzu.com/">公式サイト</a></li>			
                        <li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/ext/company.html">会社概要</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/ext/guide.html">ご利用案内</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/ext/privacy.html">プライバシーポリシー</a></li>
			<li class="mobileNav-mainMenu-item"><a href="https://www.watch-world.jp/ext/tokushou.html">特定商取引法に基づく表記</a></li>
			<li class="mobileNav-mainMenu-item" apply_no="APPLY1"><a href="https://www.watch-world.jp/apply.html?id=APPLY2">お問い合わせ</a></li>
		</ul>
	</div>
</nav>




<main>

<!-- =============================================================================== -->
<!-- ==================メインコンテンツ ================================================== -->
<!-- =============================================================================== -->
  <div class="l-container">
    <div class="c-breadcrumbs">
        <a href="https://www.watch-world.jp/" class="c-breadcrumbs-link">ホーム</a>
        <span class="c-breadcrumbs-current">エラーが発生しました。</span>
    </div>

<!-- error -->
	<h2 class="c-pageTitle">エラーが発生しました。</h2>
	

<!-- error -->
<div id="error">
	<table summary="エラー">
		<tr>
			<td class="ico"><img src="/view/userweb/images/icon_error.png?timestamp=1551942234000" alt="エラー" /></td>
			<td class="content"><ul><li>ただいまアクセス集中により、サイトが大変混雑しております。<br />順次閲覧できるようになりますので、恐れ入りますがしばらくたってから再度お試しください。</li></ul></td>
		</tr>
	</table>
	
	
	
</div>
<!-- / error -->


	<pre></pre>
	
	<div class="buttonarea">
		<form name="backform" action="https://www.watch-world.jp/" method="post"><input type="hidden" name="request" />
			
			
			
			<span>
				<input onclick="location.href = &quot;https://www.watch-world.jp/&quot;" type="submit" value="トップページへ" class="button positive medium" />
			</span>
		</form>
	</div>
<!-- / error -->

</div>
<!-- =============================================================================== -->
<!-- ==================メインコンテンツ END================================================== -->
<!-- =============================================================================== -->

</main>



<div class="l-container">
	<div class="footer-brand-nav">
		<ul>
			<li><a href="https://www.watch-world.jp/category/HYSEK/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_hysek.png?timestamp=1546841134000" alt="HYSEK" /></a></li>
			<li><a href="https://www.watch-world.jp/category/UH/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_uh.png?timestamp=1546841133000" alt="Union Horlogere SA" /></a></li>
			<li><a href="https://www.watch-world.jp/category/JAERMANN/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_jaermann.png?timestamp=1546841134000" alt="JAERMANN &amp; STÜBI" /></a></li>
			<li><a href="https://www.watch-world.jp/category/CATOREX/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_catorex.png?timestamp=1546841134000" alt="CATOREX" /></a></li>
			<li><a href="https://www.watch-world.jp/category/RCBYFM/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_roberto.png?timestamp=1546841134000" alt="Roberto Cavalli by FRANCK MULLER" /></a></li>
			<li><a href="https://www.watch-world.jp/category/OJ/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_oj.png?timestamp=1546841134000" alt="O.J. PERRIN" /></a></li>
			<li><a href="https://www.watch-world.jp/category/ROCHAS/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_rochas.png?timestamp=1546841133000" alt="ROCHAS PARIS" /></a></li>
			<li><a href="https://www.watch-world.jp/category/DICI/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_dici.png?timestamp=1546841133000" alt="DICI MILANO" /></a></li>
			<li><a href="https://www.watch-world.jp/category/MADISON/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_madison.png?timestamp=1546841133000" alt="MADISON NEW YORK" /></a></li>
			<li><a href="https://www.watch-world.jp/category/JC/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_just.png?timestamp=1546841133000" alt="Just cavalli" /></a></li>
			<li><a href="https://www.watch-world.jp/category/ESPRIT/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_esprit.png?timestamp=1546841133000" alt="ESPRIT" /></a></li>
			<li><a href="https://www.watch-world.jp/category/CANDY/"><img src="/client_info/MISUZU/view/userweb/images/common/img_logo_candy.png?timestamp=1546841133000" alt="Candy Time" /></a></li>
		</ul>
	</div>
</div>

<footer class="l-footer">
	<div class="globalFooter">
		<ul class="globalFooter-nav">
			<li><a href="https://www.watch-world.jp/">ホーム</a></li>
			<li><a href="https://www.watch-world.jp/topics_list.html?info_category=1">ニュース</a></li>
			<li><a href="https://www.watch-world.jp/category/BRAND/">商品一覧</a></li>
			<!--<li><a href="ext/support.html">修理・サポート</a></li> -->
			<li><a href="https://www.watch-world.jp/ext/store.html">店舗情報</a></li>
			<li><a href="https://www.watch-world.jp/ext/guide.html">ご利用案内</a></li>
			<li><a href="https://www.watch-world.jp/ext/company.html">会社概要</a></li>
			<li><a href="https://www.watch-world.jp/ext/privacy.html">プライバシーポリシー</a></li>
			<li><a href="https://www.watch-world.jp/ext/tokushou.html">特定商取引法に基づく表記</a></li>
			<li apply_no="APPLY1"><a href="https://www.watch-world.jp/apply.html?id=APPLY1">お問い合わせ</a></li>
		</ul>
		<div class="globalFooter-logo"><a href="https://www.watch-world.jp/"><img src="/client_info/MISUZU/view/userweb/images/common/logo_white.png?timestamp=1546841133000" alt="HANDA Watch World" /></a></div>
		<div class="globalFooter-sns" style="display: none;">
			<a href="https://www.watch-world.jp/" target="_blank"><img src="/client_info/MISUZU/view/userweb/images/common/img_sns_facebook.png?timestamp=1546841133000" alt="Facebook" /></a>
			<a href="https://www.watch-world.jp/" target="_blank"><img src="/client_info/MISUZU/view/userweb/images/common/img_sns_twitter.png?timestamp=1546841133000" alt="Twitter" /></a>
			<a href="https://www.watch-world.jp/" target="_blank"><img src="/client_info/MISUZU/view/userweb/images/common/img_sns_instagram.png?timestamp=1546841134000" alt="Instagram" /></a>
		</div>
		<small class="globalFooter-copyright">©2019 MISUZU Co., Ltd. All rights reserved.</small>
	</div>
</footer>





<script src="/client_info/MISUZU/view/userweb/js/jquery.js?timestamp=1546841134000"></script>
<script src="/client_info/MISUZU/view/userweb/js/hww_library.js?timestamp=1546841133000"></script>
<script src="/client_info/MISUZU/view/userweb/js/hww_script.js?timestamp=1575979130000"></script>



<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136616143-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date()); 
  gtag('config', 'UA-136616143-1');
</script><script type="text/javascript">
  (function () {
    var tagjs = document.createElement("script");
    var s = document.getElementsByTagName("script")[0];
    tagjs.async = true;
    tagjs.src = "//s.yjtag.jp/tag.js#site=Q1mWYEL";
    s.parentNode.insertBefore(tagjs, s);
  }());
</script>
<noscript>
  <iframe src="//b.yjtag.jp/iframe?c=Q1mWYEL" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>




</body>
</html>
